#spopupfy-button {
    all: unset;
    position: fixed;
    bottom: 6px;
    right: 1rem;
    color: #fff;
    width: 1rem;
    cursor: pointer;
    z-index: 9999;
    opacity: 0.8;
}


#spopupfy-button svg {
    width: 100%;
    height: auto;

}

.spf-background-image {
    display: none;
}

@media only screen and (max-width: 650px) and (max-height: 650px) {

    footer {
        position: fixed;
        top: 0;
        height: 100vh !important;
        width: 100vw;

    }

    footer>div {
        width: 100vw;
        height: 100vh !important;
        justify-content: space-between !important;
        padding-bottom: 20vh !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        background-color: rgba(24, 24, 24, 0.2) !important;
    }

    footer>div>div:first-child {
        width: 60%;
    }

    footer>div>div:nth-child(2) {
        width: 35%;
        margin-top: 0.5rem
    }

    footer>div>div:first-child :is(.control-button-wrapper, .control-button),
    .player-controls__right :not(:first-child),
    .player-controls__left :not(:last-child),
    [aria-label="Expand"],
    footer>div>div:nth-child(n+3),
    .Root__top-container> :not(.Root__now-playing-bar) {
        display: none;
    }

    .playback-bar {
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100vw;
    }


    .spf-background-image {
        position: absolute;
        display: block;
        object-fit: cover;
        top: -5vh;
        left: -5vw;
        width: 110vw;
        height: 110vh;
        z-index: -1;
        filter: blur(15px);
    }

    .player-controls {
        mix-blend-mode: screen;
    }

    .player-controls [aria-label] {
        cursor: pointer;
    }

    [aria-label="Play"],
    [aria-label="Pause"] {
        color: #fff;
        background-color: transparent;
        transform: scale(1.2);
    }
    [aria-label="Play"]:hover,
    [aria-label="Pause"]:hover{
        transform: scale(1.4);
    }

    footer *:is(::before, ::after) {
        background: none !important;
        box-shadow: none !important;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    span a,
    .playback-bar div {
        color: #fff !important;
    }

    #spopupfy-button {
        top: 7px;
        bottom: unset;
        right: 16px;
        opacity: 0.4
    }
    .shadow {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    }

    * {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

}


#spopupfy-button:hover {
    opacity: 1;
}

#spopupfy-button .inner{
    transition: all 0.2s ease-in-out;
}

.spopupfy #spopupfy-button:hover .inner{
    width: 10.8px;
    height: 5.8px;
}
