#spopupfy-button {
    all: unset;
    position: fixed;
    bottom: 6px;
    right: 1rem;
    color: #fff;
    width: 1rem;
    cursor: pointer;
    z-index: 9999;
    opacity: 0.8;
}


#spopupfy-button svg {
    width: 100%;
    height: auto;

}

#spf-background-image, #spf-old-cover {
    display: none;
}

@media only screen and (max-width: 650px) and (max-height: 650px) {

    footer {
        position: fixed;
        top: 0;
        height: 100vh !important;
        width: 100vw;

    }

    footer>div:first-child {
        width: 100vw;
        height: 100vh !important;
        justify-content: space-between !important;
        padding-bottom: 20vh !important;
        padding-left: 2rem !important;
        padding-right: 2rem !important;
        background-color: rgba(24, 24, 24, 0.2) !important;
    }

    footer>div>div:first-child {
        width: 60%;
    }

    /* Remove transform when cover art is expanded */
    [data-testid="now-playing-widget"] {
        transform: none !important;
    }

    footer>div>div:nth-child(2) {
        width: 35%;
        margin-top: 1rem;
    }

    [data-testid="control-button-shuffle"],
    [data-testid="control-button-repeat"],
    .control-button-heart {
        position: fixed;
        top: 4.5px;
        right: 70px;
        transform: scale(0.8);
        color: #fff !important;
        opacity: 0.6;
    }
    
    :is([data-testid="control-button-shuffle"],
    [data-testid="control-button-repeat"],
    .control-button-heart):hover,
    [aria-checked="true"], [aria-checked="mixed"]{
        opacity: 1;
    }

    [data-testid="control-button-repeat"] {
        right: 40px;
    }

    .control-button-heart {
        right: 98px;
        cursor: pointer;
    }



    .player-controls__buttons button::after {
        bottom: unset !important;
        top: 0;
    }

    /*     .player-controls__right :not(:first-child), */
    [aria-label="Expand"],
    footer>div>div:nth-child(n+3),
    .Root__top-container> :not(.Root__now-playing-bar) {
        display: none;
    }

    .playback-bar {
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100vw;
    }


    /*    Listening on ... message   */

    .encore-bright-accent-set {
        position: absolute;
        background-color: transparent !important;
        color: #fff !important;
        width: 100vw !important;
        padding: 0 !important;
        transform: scale(0.8);
        bottom: 2em;
        left: 0;
    }


    #spf-background-image, #spf-old-cover {
        position: fixed;
        display: block;
        object-fit: cover;
        top: -5vh;
        left: -5vw;
        width: 110vw;
        height: 110vh;
        z-index: -1;
        filter: blur(2.5vw);
        transition: opacity 1s ease-in;
        opacity: 1;
    }
    #spf-background-image.transparent{
        opacity:0;
        transition:none;
    }
    #spf-old-cover{
        z-index: -2;
    }

    .player-controls {
        mix-blend-mode: screen;
    }

    .player-controls [aria-label] {
        cursor: pointer;
    }

    [data-testid="control-button-playpause"] {
        color: #fff;
        background-color: transparent;
        transform: scale(1.2);
    }

    [data-testid="control-button-playpause"]:hover {
        transform: scale(1.4);
    }

    footer *:is(::before, ::after) {
        background: none !important;
        box-shadow: none !important;
    }

    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    span a,
    .playback-bar div {
        color: #fff !important;
    }

    #spopupfy-button {
        top: 7px;
        bottom: unset;
        right: 16px;
        opacity: 0.6;
    }

    .shadow {
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) !important;
    }

    * {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }

}

@media only screen and (max-width: 400px) {
    .cover-art {
        display: none;
    }


    [data-testid="now-playing-widget"] {
        justify-content: center !important;
    }

    [data-testid="now-playing-widget"] * {
        margin: 0;
    }

    footer>div:first-child {
        padding: 5vh !important;
        flex-direction: column !important;
        justify-content: center !important;
        gap: 5vh !important;
    }

    footer>div>div:nth-child(2) {
        margin-top: 2vh;
    }

    footer>div>div {
        width: fit-content !important;
    }
}


#spopupfy-button:hover {
    opacity: 1;
}

#spopupfy-button .inner {
    transition: all 0.2s ease-in-out;
}

.spopupfy #spopupfy-button:hover .inner {
    width: 10.8px;
    height: 5.8px;
}